<footer class="footer">
	<h2><em>官方热线</em><span>010-80320881</span></h2>
	<p class="item1"><a href="#">关于我们</a>|<a href="#">联系我们</a></p>
	<p class="item2">中力健身学院地址</p>
	<p class="item2">北京市房山区北京民族大学</p>
</footer>
<div class="footer-fixed">
	<div class="fiexd-wrapper">
		<a href="#"><img src="../../public/images/zxkc1.png" ><span>咨询课程</span></a>
		<a href="#"><img src="../../public/images/zxxf1.png" ><span>咨询学费</span></a>
		<a href="#"><img src="../../public/images/zxzs.png" ><span>咨询证书</span></a>
	</div>
</div>