		<div class="container-right">
			<div class="item-1 item">
				<div class="titel"><i style="background-image: url(../public/images/icon-2.png)"></i><span>内容分类</span></div>
				<div class="item-1-wrap item-wrapper">
					<ul>
						<li><a href="#">网站首页</a></li>
						<li><a href="#">颁发证书</a></li>
						<li><a href="#">培训课程</a></li>
						<li><a href="#">师资力量</a></li>
						<li><a href="#">就业服务</a></li>
						<li><a href="#">学员案例</a></li>
						<li><a href="#">新闻动态</a></li>
						<li><a href="#">学院简介</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="item-2 item">
				<div class="titel"><i style="background-image: url(../public/images/icon-3.png)"></i>健身教练证书排行</div>
				<div class="item-2-wrap item-wrapper">
					<ul>
						<li class=""><a href="#"><em>1</em>健身教练国家职业资格证书</a></li>
						<li class=""><a href="#"><em>2</em>AFIA国际高级私人教练证书</a></li>
						<li class=""><a href="#"><em>3</em>国家运动康复师证书</a></li>
						<li><a href="#"><em>4</em>国家运动营养师证书</a></li>
						<li><a href="#"><em>5</em>运动功能训练认证证书</a></li>
						<li><a href="#"><em>6</em>星航道毕业证书</a></li>
					</ul>
				</div>
			</div>
			<div class="item-3 item">
				<div class="titel"><i style="background-image: url(../public/images/icon-4.png)"></i><span>热门推荐</span></div>
				<div class="item-3-wrap item-wrapper">
					<ul>
						<li><a href="#">健身教练资格证怎么考?考试流程详解</a></li>
						<li><a href="#">学健身教练多少钱?就业如何?</a></li>
						<li><a href="#">健身教练培训多少钱？【收费解读】</a></li>
						<li><a href="#">怎样成为一名健身教练?</a></li>
					</ul>		
				</div>
			</div>
			<div class="item-4 item">
				<div class="titel"><i style="background-image: url(../public/images/icon-5.png)"></i>热门推荐</div>
				<div class="item-4-wrap item-wrapper">
					<ul>
						<li><a href="#"><img src="../public/images/vx.png" alt="">微信咨询</a></li>
						<li><a href="#"><img src="../public/images/qq.png" alt="">QQ咨询</a></li>
						<li><a href="#"><img src="../public/images/kf2.png" alt="">在线咨询</a></li>
					</ul>
				</div>
			</div>
		</div>