	<div class="container-left">
		<div class="titel"><i style="background-image: url(../public/images/icon-1.png)"></i><span>@@name</span></div>
		<div class="container-list">
			<ul>
				<li>
					<div class="img"><img src="../public/images/zw.png"></div>
					<h3><a href="#">健身教练国家职业资格证</a></h3>
					<div class="txt"><a href="#">（国家级-从业必备） 健身教练资格证书是由国家人社部颁发，由国家体育总局职业技能鉴定中...</a></div>
					<div class="data"><span class="shou"><i class="icon iconfont">&#xe60c;</i>140</span><span class="time"><i class="icon iconfont">&#xe606;</i>2018-04-02</span></div>
					<a href="#" class="all" target="_blank">阅读全文  →</a>
				</li>
				@@for(var i =0;i<5;i++){
				<li>
					<div class="img"><img src="../public/images/zw.png"></div>
					<h3><a href="#">健身教练国家职业资格证</a></h3>
					<div class="txt"><a href="#">（国家级-从业必备） 健身教练资格证书是由国家人社部颁发，由国家体育总局职业技能鉴定中...</a></div>
					<div class="data"><span class="shou"><i class="icon iconfont">&#xe60c;</i>140</span><span class="time"><i class="icon iconfont">&#xe606;</i>2018-04-02</span></div>
					<a href="#" class="all" target="_blank">阅读全文  →</a>
				</li>

				}
			</ul>
			<div class="page">
				<a href="javascript:;">首页</a>
				<a href="#" class="on">1</a>
				<a href="#">2</a>
				<a href="#">下一页</a>
				<a href="javascript:;">尾页</a>
			</div>
		</div>
	</div>