<div class="footer-wrapper">
  <div class="footer-top">
    <div class="nav">
      <a href="#" class="on">首页</a>
      <a href="#">权威证书</a>
      <a href="#">专业课程</a>
      <a href="#">师资力量</a>
      <a href="#">就业服务</a>
      <a href="#">优秀学员</a>
      <a href="#">新闻动态</a>
      <a href="#">学员简介</a>
      <a href="#">证书查询</a>
      <a href="#">联系我们</a>
    </div>
  </div>
  <div class="footer-midder">
    <ul class="list">
      <li>
        <h3>您的需求</h3>
        <div class="info">
          <a href="/peixunkecheng">实用课程</a>
          <a href="/zhengshu">权威证书</a>
          <a href="/jiuyefuwu">分配就业</a>
          <a href="/xueyuanfengcai">月薪过万</a>
        </div>
      </li>
      <li>
        <h3>我们的优势</h3>
        <div class="info">
          <a href="#">国家正规</a>
          <a href="#">一流口碑</a>
          <a href="#">课程实用</a>
          <a href="#">证书权威</a>
        </div>
      </li>
      <li>
        <h3>我们的服务</h3>
        <div class="info">
          <a href="#">0 元入学</a>
          <a href="#">分配就业</a>
        </div>
      </li>
      <li>
        <h3>走进星航道</h3>
        <div class="info">
          <a href="#">校园环境</a>
          <a href="#">学院简介</a>
        </div>
      </li>
      <li class="follow">
        <h3>关注我们</h3>
        <div class="ewm info2">
          <p><img src="http://www.zhonglifit.cn/img/footwx.jpg" > 微信公众号</p>
        </div>
      </li>
      <li class="telBox">
        <h3>学院官方热线</h3>
        <ol class="info2 contact">
          <li>
            <i class="tel" style="background: #444 url(../public/images/tel.png) no-repeat center"></i>
            <div class="txt" style="margin: 5px 0 0 10px;">
              <p>咨询电话</p>
              <p class="big">010-63896399</p>
            </div>
          </li>
          <li class="kf">
            <i class="kf"  style="background: #444 url(../public/images/kf.png) no-repeat center"></i>
            <div class="txt" style="margin: 5px 0 0 10px;">
              <p>在线客服</p>
              <a href="#" class="btn">点击咨询</a>
            </div>
          </li>
        </ol>
      </li>
    </ul>
    <div class="addrs">
      <p><em>地址：</em>北京市房山区民族大学</p>
      <p><em>邮编：</em>102433</p>
      <p><em>中力健身学院：</em>www.zhonglifit.cn</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>@All rights reserved Powered by zhonglifit 版权所有：中力文化传播有限公司-冠军私教 中力打造</p>
  </div>
</div>
