<div class="newFooter">
	<div class="list">
		<div class="title"> <i class="icon" style="background-image: url(../public/images/icon-7.png)"></i>推荐阅读
			<a class="more" href="#">更多+</a>
		</div>
		<div class="wrap">
			<ul class="tjyd">
				<li><a href="#">健身教练培训多少钱？</a></li>
				<li><a href="#">学员免费提供食宿吗？</a></li>
				<li><a href="#">学员毕业后分配就业吗？</a></li>
				<li><a href="#">零基础能学健身教练吗？</a></li>
				<li><a href="#">健身教练资格证怎么考？</a></li>
				<li><a href="#">做健身教练有哪些条件？</a></li>
				<li><a href="#">女生做健身教练怎么样？</a></li>
				<li><a href="#">退伍军人当健身教练有什么优势？</a></li>
			</ul>
		</div>
	</div>
	<div class="list">
		<div class="title"> <i class="icon" style="background-image: url(../public/images/icon-8.png)"></i>中国健身教练培训学校地区 <em style="color: #fe7902">直通车</em>
			<a class="more" href="#">更多+</a>
		</div>
		<div class="wrap">
			<div class="ztc">
				<dl>
					<dt>华北地区：</dt>
					<dd>
						<a href="">北京健身教练培训学校</a>
						<a href="#">河北健身教练培训学校</a>
						<a href="#">山西健身教练培训学校</a>
						<a href="#">内蒙古健身教练培训学校</a>
						<a href="#">天津健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>华南地区：</dt>
					<dd>
						<a href="#">广东健身教练培训学校</a>
						<a href="#">广西健身教练培训学校 </a>
						<a href="#">海南健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>华东地区：</dt>
					<dd>
						<a href="#">山东健身教练培训学校</a>
						<a href="#">山东健身教练培训学校</a>
						<a href="#">江苏健身教练培训学校 </a>
						<a href="#">安徽健身教练培训学校</a>
						<a href="#">浙江健身教练培训学校</a>
						<a href="#">福建健身教练培训学校</a>
						<a href="#">江西健身教练培训学校</a>
						<a href="#">上海健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>华中地区：</dt>
					<dd>
						<a href="#">河南健身教练培训学校</a>
						<a href="#">湖北健身教练培训学校 </a>
						<a href="#">湖南健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>东北地区：</dt>
					<dd>
						<a href="#">辽宁健身教练培训学校</a>
						<a href="#">吉林健身教练培训学校 </a>
						<a href="#">黑龙江健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>西北地区：</dt>
					<dd>
						<a href="#">新疆健身教练培训学校</a>
						<a href="#">陕西健身教练培训学校 </a>
						<a href="#">宁夏健身教练培训学校</a>
						<a href="#">青海健身教练培训学校</a>
						<a href="#">甘肃健身教练培训学校</a>
					</dd>
				</dl>
				<dl>
					<dt>西南地区：</dt>
					<dd>
						<a href="#">云南健身教练培训学校</a>
						<a href="#">四川健身教练培训学校 </a>
						<a href="#">贵州健身教练培训学校</a>
						<a href="#">重庆健身教练培训学校</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="wrap" style="border: 0;">
			<ul class="list-item">
				<li>
					<i style="background-image: url(../public/images/b1.png)"></i>
					<div class="info">
						<h4>最具性价比：</h4>
						<p>超优惠的价格，学最实用的课程，行业内最具性价比的健身学院</p>
					</div>
				</li>
				<li>
					<i style="background-image: url(../public/images/b2.png)"></i>
					<div class="info">
						<h4>最具性价比：</h4>
						<p>超优惠的价格，学最实用的课程，行业内最具性价比的健身学院</p>
					</div>
				</li>
				<li>
					<i style="background-image: url(../public/images/b3.png)"></i>
					<div class="info">
						<h4>最具性价比：</h4>
						<p>超优惠的价格，学最实用的课程，行业内最具性价比的健身学院</p>
					</div>
				</li>
				<li>
					<i style="background-image: url(../public/images/b4.png)"></i>
					<div class="info">
						<h4>最具性价比：</h4>
						<p>超优惠的价格，学最实用的课程，行业内最具性价比的健身学院</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
