.container {
	width: 1100px;
	margin: 0 auto;
	overflow: hidden;
	.titel {
		height: 46px;
		line-height: 46px;
		background: #EEEEEE;
		font-size: 20px;
		position: relative;
		font-weight: bold;
		i {
			width: 26px;
			height: 26px;
			background-color: #fe7902;
			border-radius: 50%;
			margin: 0 8px 0 20px;
			display: inline-block;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			top: -2px;
		}

	}
	.page {
		text-align: center;
		a {
			display: inline-block;
			padding: 2px 8px;
			margin: 10px 5px;
			border: 1px solid #ccc;
			color: #000;
			&:hover {
				color: #fe7902;
				border-color: #fe7902;
			}

		}
		.on {
			color: #fe7902;
			border-color: #fe7902;
		}
	}
	.container-left {
		width: 800px;
		padding-bottom: 100px;
		float: left;
		overflow: hidden;
		.container-list {
			border: 1px solid #E2E2E2;
			border-top: none;
			padding: 12px 30px 9px;

			ul {
				li {
					position: relative;
					border-bottom: 1px dashed #D6D6D6;
					padding: 21px 0 21px 245px;
					height: 134px;
					.img {
						position: absolute;
						left: 0;
						top: 20px;
						width: 220px;
						height: 135px;
						img {
							width: 220px;
							height: 135px;
						}
					}
					h3 {
						font-size: 20px;
						line-height: 45px;
						font-weight: bold;
						a {
							color: #000;
							&:hover {
								color: #fe7902;
							}
						}
					}
					.txt {
						line-height: 24px;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
						color: #333;
						a {
							color: #333;
						}
					}
					.data {
						font-size: 12px;
						color: #999;
						height: 16px;
						line-height: 16px;
						margin-top: 20px;
						span {
							width: 124px;
							padding-left: 22px;
							display: inline-block;
							position: relative;
							i {
								position: absolute;
								left: 0;
								top: 0;
							}
						}
						.shou i {
							font-size: 24px;
						}
					}
					.all {
						position: absolute;
						bottom: 20px;
						right: 0;
						width: 134px;
						height: 34px;
						line-height: 34px;
						border: 1px solid #D6D6D6;
						text-align: center;
						display: block;
						color: #333;
						font-weight: blod;
					}
				}
			}
		}
	}
	.container-right {
		float: right;
		width: 280px;
		.item {
			margin-bottom: 23px;
			overflow: hidden;
			.item-wrapper {

				border: 1px solid #e2e2e2;
				border-top: none;
				overflow: hidden;
			}
		}
		.item-1 {
			width: 280px;
			overflow: hidden;
			.item-1-wrap {
				ul {
					width: 280px;
				}
				padding: 4px 0 24px 8px;
				li {
					width: 72px;
					height: 30px;
					line-height: 30px;
					background: #F3F3F3;
					border: 1px solid #D6D6D6;
					border-radius: 5px;
					text-align: center;
					margin: 22px 5px 0;
					float: left;
					&:hover {
						color: #fe7902;
						border-color: #fe7902;
					}

					a {
						color: #000;
						display: block;
						&:hover {
							color: #fe7902;
							border-color: #fe7902;
						}
					}
				}
			}
		}
		.item-2 {
			margin-bottom: 23px;
			.item-2-wrap {
				padding: 4px 20px;
				.li1 {
					border-top: none;
					em {
						background: #fe7902;
					}
				}
				.li2 {
					em {
						background: #777;
					}
				}
				li {
					line-height: 42px;
					border-top: 1px dashed #D6D6D6;
					word-break: keep-all;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					a {
						color: #000;
						&:hover {
							color: #fe7902;
						}
					}
					em {
						width: 20px;
						height: 20px;
						background: #ccc;
						border-radius: 50%;
						text-align: center;
						line-height: 20px;
						color: #fff;
						display: inline-block;
						margin-right: 12px;
					}
				}
			}
		}
		.item-3 {
			.item-3-wrap {
				padding: 20px 25px;
				li {
					line-height: 36px;
					word-break: keep-all;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					a {
						color: #000;
						&:hover {
							color: #fe7902;
						}
					}
					&:before {
						content: '';
						width: 8px;
						height: 8px;
						border: 2px solid #fe7902;
						border-radius: 50%;
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
		.item-4 {
			.item-4-wrap {
				padding: 34px 30px 30px;
				li {
					width: 33.3%;
					float: left;
					text-align: center;
					line-height: 30px;
					a {
						color: #000;
					}
					img {
						display: block;
						margin: 0 auto;
						width: 46px;
						height: 46px;
					}
				}
			}
		}
	}
	.service-left {
		width: 800px;
		padding-bottom: 100px;
		float: left;
		overflow: hidden;
		.service-wrap {
			border: 1px solid #E2E2E2;
			border-top: none;
			.videos {
				padding-top: 10px;
				overflow: hidden;
				li {
					float: left;
					width: 234px;
					margin: 20px 0 0 22px;
					cursor: pointer;
					div {
						height: 132px;
						img {
							width: 234px;
							height: 132px;
						}
						i {
							position: absolute;
							background: url(../img/sj.png) no-repeat;
							z-index: 55;
							display: block;
							width: 38px;
							height: 38px;
							border-radius: 50%;
							left: 50%;
							top: 50%;
							margin-left: -23px;
							margin-top: -23px;
							opacity: .9;
						}
					}
					p {
						border: 1px solid #d6D6D6;
						padding-top: 10px;
						height: 48px;
						text-align: center;
						line-height: 20px;
						font-size: 14px;
					}
					a {
						position: relative;
						display: block;
					}
				}
			}
		}

	}
}
